.productItem{
        cursor: pointer;
    .productImage {
        border-radius: 20px;
        height: 30rem;    
        padding: 20px;
       transition: transform 0.3s ease;
        img{
            object-fit: contain;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    h3,.price{
        font-weight: bold;   
    }
    h3{
        margin-top: 20px;
    }
    .price{
        font-size: 2.4rem;
    }
    .rating{
        font-size: 2rem;
    }
}
//responsive
@media (max-width: 768px) {
    .productItem{
        .productImage{
            padding: 0;
        }
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    // Styles cho tablet
}

@media (min-width: 1025px) {
    // Styles cho desktop
}