.title{
    text-align: left;
}
.inputTable{
    width: 100%;
    display: flex;
    justify-content: center;
    input ,label{
        font-size: 2rem;
    }
    input{
        margin: 5px 0 10px 0;
    }
    .inner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .submit{
        margin-top: 20px;
    }
         
}
.ctr{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
}
.imageWrapper{
    padding: 0 20px;
}
@media (max-width: 768px) {
.imageWrapper{
    margin: 20px 0 20px 0;

}

}

@media (min-width: 769px) and (max-width: 1024px) {
    // Styles cho tablet
}

@media (min-width: 1025px) {
    // Styles cho desktop
}