.title{
    text-align: center;
}
.inputTable{
    padding: 40px 100px;
    background: #F0F0F0;
    width: 100%;
    display: flex;
    justify-content: center;
    input ,label{
        font-size: 2rem;
    }
    .inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .submit{
        margin-top: 20px;
    }
         
}