.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
.cartImage{
   width: 40%;
   padding: 40px;
}
h3{
    font-size: 2rem;
    font-weight: bold;
}
}
.tableInfo{
    span{
        font-size: 2rem;
    }
    .row{
        display: flex;
        justify-content: space-between;
        .title{
            font-weight: bold;
        }
    }
     

}
.cartList,.tableWrapper{
    border: 1px solid rgb(190, 187, 187);
    border-radius: 20px;
    width: 100%;
    padding: 20px 20px;

}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
    .trashIcon{
        font-size: 2rem;
        cursor: pointer;
        color: red;
    }
}
.checkOut{
    width: 100%;
    margin-top: 2rem;
}
.line{
    width: 100%;
  height: 1px;
    background: rgb(190, 187, 187);
}
.titleEmpty{
    text-align: center;
}
.voucherInput{
   display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
    .inputVoucher{
        font-size: 2rem;
    }
 
    .addVoucherBtn{
        font-size: 1rem;
    }
}
 //responsive
 @media (max-width: 768px) {
 .cartItem{
    .cartImage{
        width: 100%;
    }
    .title{
        h3{
            font-size: 2rem !important;
        }
    }
 }

 }

 @media (min-width: 769px) and (max-width: 1024px) {
     // Styles cho tablet
 }

 @media (min-width: 1025px) {
     // Styles cho desktop
 }