.productList {
    display: flex;
    flex-direction: row;
   
}
.wrapper {
    h2 {
        text-align: center;
    }
}
.viewAllBtn{
    display: flex;
    justify-content: center;
 .viewAll {
     background-color: white;
     &:focus{
        background-color: #f0f0f0;

     }
 }
}
//responsive
//responsive
@media (max-width: 768px) {
    .productItem {
        .productImage {
            padding: 0;
        }

    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    // Styles cho tablet
}

@media (min-width: 1025px) {
    // Styles cho desktop
}