 .hdSearch {
    display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    
        .searchResult {
            position: absolute;
            width: 100%;
    
        }
     input {
            width: 100%;
            padding: 0.625em 2.5em;
            /* Tính toán padding theo em */
            border-radius: 62px;
            border: 1px solid var(--overlay-color);
            width: 450px;
            font-size: 1.6rem;
            background: #F0F0F0;
    
            &:focus {
                background: #F0F0F0;
    
            }
    
            /* Kích thước font 1.6 lần kích thước gốc */
        }
     position: relative; // Để chứa kết quả tìm kiếm trong vị trí tương đối
     z-index: 10; // Đảm bảo thanh tìm kiếm nằm trên các phần tử khác

     // Input search
     .inputSearch {
         position: relative; // Để có thể định vị các phần tử con
     }
         .searchIcon {
             position: absolute;
             font-size: 2rem;
             color: var(--overlay-color);
             left: 10px;
         }

     // Kết quả tìm kiếm
     .searchResult {
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         background-color: white;
         border: 1px solid #ccc;
         z-index: 20;
         max-height: 300px;
         overflow-y: auto;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

         table {
             width: 100%;
             border-collapse: collapse;

             th,
             td {
                 padding: 10px;
                 border-bottom: 1px solid #ccc;
                 text-align: left;
             }

             th {
                 background-color: #f7f7f7;
             }
         }

         p {
             margin: 0;
             padding: 10px;
             text-align: center;
         }
     }
 }