.filterWrapper{
    border-right: .5px solid rgb(230, 230, 230);
    li{
        &:focus{
            font-weight: bold;
        }
    }
}
.titleCategory{
    transition: all 0.3s ease-in;
}
    .active{
     font-weight: bold;
    }


    //responsive
        @media (max-width: 768px) {
            .cateWrapper{
                display: grid;
                grid-template-columns: repeat(2,1fr);
              
            }
        }
    
        @media (min-width: 769px) and (max-width: 1024px) {
            // Styles cho tablet
        }
    
        @media (min-width: 1025px) {
            // Styles cho desktop
        }
