.filterWrapper{
    border-right: .5px solid rgb(230, 230, 230);
    li{
        &:focus{
            font-weight: bold;
        }
    }
}
.titleCategory{
    transition: all 0.3s ease-in;
    &:hover {
        font-weight: bold;
    }}
