
.gallery {
    display: flex;
    flex-direction: column;
}

.selectedImage {
    width: 50%; // Chiều rộng cho ảnh lớn
    cursor: pointer;
}

.thumbnail {
    margin-top: 5rem;
    cursor: pointer;
width: 50%;
    &:hover {
        border: 2px solid #000; // Thêm border khi hover
    }
}
.ctaWrapper{
    display: flex;
     align-items: center;
    justify-content: space-between;
}
.priceItem{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;

}