
.gallery {
    display: flex;
    flex-direction: column;
}

.selectedImage {
    width: 50%; // Chiều rộng cho ảnh lớn
    cursor: pointer;
}

.thumbnail {
    margin-top: 5rem;
    cursor: pointer;
width: 50%;
    &:hover {
        border: 2px solid #000; // Thêm border khi hover
    }
}
.ctaWrapper{
    display: flex;
     align-items: center;
    justify-content: space-between;
}
.priceItem{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;

}
.tabsWrapper {
    .tabBtn {
        button {
            margin-right: 20px;
            font-size: 3rem;
            border: none;
            background: white;
            position: relative; // cần để line hiển thị dưới

            // Hiệu ứng line khi active
            &.active {
                border-bottom: 2px solid black; // tạo đường line dưới
            }
        }
    }
}
