
.gallery {
    display: flex;
    flex-direction: column;
}

.selectedImage {
    width: 50%; // Chiều rộng cho ảnh lớn
    cursor: pointer;
}

.thumbnail {
    margin-top: 5rem;
    cursor: pointer;
width: 50%;
    &:hover {
        border: 2px solid #000; // Thêm border khi hover
    }
}
.ctaWrapper{
    display: flex;
     align-items: center;
    justify-content: space-between;
}
.priceItem{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;

}
.tabsWrapper {
    .tabBtn {
        button {
            margin-left: 10rem;
            margin-top: 5rem;
            font-size: 3rem;
            border: none;
            background: white;
            position: relative; // cần để line hiển thị dưới

            // Hiệu ứng line khi active
            &.active {
                border-bottom: 2px solid black; // tạo đường line dưới
            }
        }
    }
}
@media (max-width: 768px) {
.gallery{
    display: flex; 
    flex-direction: row;
    align-items: center;
    width: 70%;
}
.thumbnail{
    margin-top: 0;
    margin-left: 20px;
}
  
}

@media (min-width: 769px) and (max-width: 1024px) {
    // Styles cho tablet
}

@media (min-width: 1025px) {
    // Styles cho desktop
}