.productImage{
    max-width: 400px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}
.wrapper{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 20px;
    
}
.contentInner{
    padding: 0 0 0 40px;
}