.wrapper{
    span{
        width:1px;
        height: 74px;
        background: var(--overlay-color);
        display: block;
        margin-left: 2rem;
    }
    p{
        opacity: 0.6;
    }
    .number{
        
        .numberDetails {
                font-size: 3rem;
            }
    }
 
}
   
