.wrapper{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 56px ;
border-top: 0 solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0 solid black;
}